$font-raleway: 'Raleway', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$font-merienda: 'Merienda', sans-serif;
$font-lsland-moments: 'Island Moments', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
