@import "../settings/colors";
@import "../settings/mixins";

.contact {
  height: 70vh;
  width: 800px;

  margin-left: 300px;
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &-form {
    width: 60%;
    height: 80%;

    border: 2px solid $color-lightGrey-transparent-light;
    border-radius: 30px;
    padding: 30px;
    background-color: $color-lightGrey-transparent-light;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .contact-mail,
    .contact-message {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  button {
    display: flex;
    align-self: center;
    margin-top: 1.5em;
  }
}
