@import "../settings/colors";

.footer {
  height: 20px;
  width: 80%;
  position: absolute;
  left: 10%;
  bottom: 0;
  color: $color-lightGrey-transparent-light;
  padding: 10px 20px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
