@import "../settings/colors";

.gallery {
  height: 70vh;
  width: 100%;

  margin-left: 300px;
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &-div {
    width: calc((100%) - (300px));
    height: 80%;

    border: 2px solid $color-lightGrey-transparent-light;
    border-radius: 30px;
    padding: 30px;
    background-color: $color-lightGrey-transparent-light;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
