@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/mixins";
.my-trips {
  &-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &-list,
  &-description,
  &-info,
  &-add_new {
    margin: 5em;
    border: 2px solid $color-lightGrey-transparent-light;
    border-radius: 30px;
    padding: 30px;
    background-color: $color-lightGrey-transparent-light;
  }
  &-description,
  &-info,
  &-add_new {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-grow: 4;
  }

  &-description {
    // border: 2px solid $color-lightGrey-transparent-light;
    // border-radius: 30px;
    // padding: 30px;
    // background-color: $color-lightGrey-transparent-light;
  }
  &-info {
    // border: 2px solid $color-lightGrey-transparent-light;
    // border-radius: 30px;
    // padding: 30px;
    // background-color: $color-lightGrey-transparent-light;
  }
  &-list {
    height: 30vh;
    margin-top: 10;
    overflow-y: scroll;
  }

  &-sidebar {
    margin-top: 5em;
    margin-left: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

    .add-new-description {
      font-size: 1.5em;
    }
  }
  &-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    input {
      width: 60%;
    }
    textarea {
      width: 90%;
    }
    button {
      @include buttonMedium;
      align-self: center;
    }
  }

  h1:hover {
    cursor: pointer;
  }
}
.app-name {
  margin: 0;
  font-family: $font-island-moments;
  font-size: 6em;
  line-height: normal;
  text-transform: none;
  text-align: center;
  color: $color-lightGrey;
  text-shadow: 0px 0px 20px $color-secondary-shadow;
}
