@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/mixins";

.my-trips {
  &-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  &-list,
  &-description,
  &-info,
  &-add_new {
    border: 2px solid $color-lightGrey-transparent-light;
    border-radius: 30px;
    background-color: $color-lightGrey-transparent-light;
  }
  &-description,
  &-info,
  &-add_new {
    margin: 4em;
    padding: 30px;

    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-grow: 4;
  }

  &-description {
    p {
      max-height: 60%;
      padding-right: 20px;
      margin-bottom: 50px;
      overflow-y: scroll;
    }
    section {
      height: 98%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;

      button {
        margin-top: 10px;
        position: absolute;
        left: calc((50%) - 25px);
        bottom: -1.5em;
      }
    }
  }
  &-info {
    align-items: center;
    justify-content: flex-start;
    padding-top: 5em;
    h2 {
      margin: 2em 0 5em 0;
    }
    p {
      max-height: 60%;
      padding-right: 20px;
      overflow-y: scroll;
    }
    button {
      margin-top: 10px;
      align-self: center;
    }
  }
  &-list {
    height: 35vh;
    overflow-y: hidden;
    margin-top: 2.5em;
    margin-bottom: 3em;
    padding: 20px;

    h1 {
      margin: 0 0 10px 0;
    }
    ul {
      margin: 0;
      padding-left: 0;
      height: 80%;
      overflow-y: scroll;
      width: 95%;
      list-style-type: circle;
      li {
        &:hover {
          cursor: pointer;
          color: $color-blueGrey-dark;
          text-shadow: -3px 3px 10px $color-lightGrey-transparent-medium;
        }
      }
    }
  }

  &-sidebar {
    margin-top: 5em;
    margin-left: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

    .add-new-description {
      font-size: 1.5em;
    }
  }
  &-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    input {
      width: 60%;
    }
    textarea {
      width: 90%;
    }
    button {
      align-self: center;
      margin-top: 1em;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.app-name {
  margin: 0;
  font-family: $font-island-moments;
  font-size: 6em;
  line-height: normal;
  text-transform: none;
  text-align: center;
  color: $color-lightGrey;
  text-shadow: 0px 0px 20px $color-secondary-shadow;
}
