@import "../settings/colors";

.places-descriptions {
  box-sizing: content-box;
  min-width: 40vw;
  height: calc((100vh) - (240px));

  margin-left: 300px;
  margin-top: 50px;
  padding-right: 30px;

  border: 2px solid $color-lightGrey-transparent-light;
  border-radius: 30px;
  background-color: $color-lightGrey-transparent-light;

  .places-info {
    max-width: 38%;
    max-height: calc((100vh) - (300px));
    margin: 30px 0;
    padding: 0 30px;
    padding-top: 4px;

    color: $color-lightGrey-transparent;
    text-align: justify;
    position: absolute;
    z-index: 1;
    overflow-y: scroll;
    .weather-widget {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 0.5em;
      right: 1em;
      // text-align: center;
    }
    h1 {
      font-size: 1.5em;
      text-transform: uppercase;
      margin: 0 10px 10px 10px;
    }
  }
}
.drawing-place {
  height: 50%;
  background-position: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
}
