@import "../settings/colors";
.places-list {
  box-sizing: border-box;
  max-width: 1200px;
  max-height: 80vh;
  border: 2px solid $color-lightGrey-transparent-light;
  border-radius: 30px;
  padding: 30px;
  margin: 20px;
  margin-left: 300px;
  margin-top: 50px;
  background-color: $color-lightGrey-transparent-light;

  color: $color-lightGrey-transparent;
  text-align: left;
  // overflow-y: scroll;
  position: absolute;
  top: auto;
  z-index: 1;

  li {
    text-shadow: -3px 3px 10px $color-dark1;
    &:hover {
      cursor: pointer;
      text-shadow: -3px 3px 10px $color-lightGrey-transparent-medium;
      color: $color-blueGrey-dark;
    }
  }
}
