@import "../settings/colors";

.sidebar {
  width: 380px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0;
  top: calc((50%) - (50px));
  .half-circle-left {
    width: 50px;
    height: 100px;
    border: 2px solid rgba(206, 217, 230, 0.7);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  i {
    color: rgba(206, 217, 230, 0.7);
    font-size: 2em;
    text-shadow: 0px 0px 10px $color-secondary-shadow;
  }
  .big-circle {
    display: none;
    width: 300px;
    height: 300px;
    border: 2px solid $color-lightGrey-transparent-light;
    border-radius: 50%;
    color: $color-lightGrey-transparent;
    .circle {
      &:hover {
        box-shadow: 0px 0px 20px 0px rgba(206, 217, 230, 0.7);
      }
    }

    .about-region {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: -10px;
    }
    .about-trail {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: -50px;
      top: 100px;
    }
    .places-list {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: -20px;
      right: 0;
    }
  }
}
