@import "../settings/colors";

.sign-in {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-form {
    width: 40%;
    height: 40%;

    border: 2px solid $color-lightGrey-transparent-light;
    border-radius: 30px;
    padding: 30px;
    background-color: $color-lightGrey-transparent-light;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
