$color-blue: #78bade;
$color-primary-shadow: #07ace629;
$color-secondary-shadow: #1c272af6;
$color-lightGrey-transparent: #ced9e6e6;
$color-lightGrey-transparent-medium: #ced9e666;
$color-lightGrey-transparent-light: #b5b5c64d;
$color-blueGrey-transparent: #7993a0c0;
$color-background: rgba(26, 104, 47, 0.685);

$color-lightGrey: #ced9df; //r 206 g 217 b 223
$color-blueGrey: #7993a0;
$color-blueGrey-dark: #386293;
$color-lightGreen: #aebd9f;
$color-darkGreen: #3e563e;
$color-dark1: #1f2f22;
$color-dark2: #091008;

$background-gradient: linear-gradient(
  360deg,
  #11370b 0%,
  #1c700f 32%,
  #1d7b0f 42%,
  #7e9ea5 76%,
  #9ec1f0 100%
);
