$color-blue: #78bade;
$color-primary-shadow: rgba(7, 172, 230, 0.16);
$color-secondary-shadow: #273539e7;
$color-lightGrey-transparent: rgba(206, 217, 230, 0.7);
$color-lightGrey-transparent-light: rgba(206, 217, 230, 0.3);

$color-lightGrey: #ced9df; //r 206 g 217 b 223
$color-blueGrey: #7993a0;
$color-blueGrey-dark: #386293;
$color-lightGreen: #93a889;
$color-darkGreen: #3e563e;
$color-dark1: #1f2f22;
$color-dark2: #091008;

$background-gradient: linear-gradient(
  360deg,
  hsla(112, 67%, 13%, 1) 0%,
  hsla(112, 76%, 25%, 1) 32%,
  hsla(112, 78%, 27%, 1) 42%,
  hsla(191, 18%, 57%, 1) 76%,
  hsla(214, 73%, 78%, 1) 100%
);
