$font-raleway: "Raleway", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
$font-montserrat-alternates: "Montserrat Alternates", sans-serif;

$font-merienda: "Merienda One", cursive;
$font-island-moments: "Island Moments", cursive;
$font-allura: "Allura", cursive; ;
