@import "./colors";

@mixin button {
  width: 100px;
  height: 100px;
  border: 2px solid $color-lightGrey-transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px $color-secondary-shadow;

  background-image: url("./src/assets/background02.PNG");
  background-color: $color-background;

  color: $color-lightGrey-transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 500;
  text-shadow: 0px 0px 10px $color-secondary-shadow;

  &:hover {
    box-shadow: 0px 0px 20px 0px $color-lightGrey-transparent;
    cursor: pointer;
  }
  @content;
}
@mixin buttonMedium {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  padding: 0;

  border: 2px solid $color-lightGrey-transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px $color-secondary-shadow;

  background-image: url("./src/assets/background02.PNG");
  background-color: $color-background;
  text-shadow: 0px 0px 10px $color-secondary-shadow;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px $color-lightGrey-transparent;
  }
  @content;
}

@mixin buttonSmall {
  width: 30px;
  height: 30px;
  margin: 10px;
  border: 2px solid $color-lightGrey-transparent-light;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  color: $color-lightGrey-transparent;
  text-align: center;
  font-size: 0.5em;

  &:hover {
    box-shadow: 0px 0px 20px 0px $color-lightGrey-transparent;
    cursor: pointer;
  }
  @content;
}

// @mixin notebook {
//   @media (max-width: 1352px) {
//     @content;
//   }
// }

// @mixin tablet {
//   @media (max-width: 1024px) {
//     @content;
//   }
// }

// @mixin mobile {
//   @media (max-width: 792px) {
//     @content;
//   }
// }
